<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="org.eclipse.ui.commands">
      <category
            id="com.oneagent.edt.commands.category"
            name="OneAgent"/>
      <command
            categoryId="com.oneagent.edt.commands.category"
            id="com.oneagent.edt.commands.probeRuntime"
            name="OneAgent: Probe Runtime Compatibility"/>
   </extension>
   <extension point="org.eclipse.ui.handlers">
      <handler
            class="com.oneagent.edt.ProbeRuntimeHandler"
            commandId="com.oneagent.edt.commands.probeRuntime"/>
   </extension>
   <extension point="org.eclipse.ui.menus">
      <menuContribution locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <command
               commandId="com.oneagent.edt.commands.probeRuntime"
               label="OneAgent: Probe Runtime Compatibility"
               style="push">
            <visibleWhen checkEnabled="true"/>
         </command>
      </menuContribution>
   </extension>
   <extension point="org.eclipse.ui.preferencePages">
      <page
            class="com.oneagent.edt.OneAgentPreferencePage"
            id="com.oneagent.edt.preferences"
            name="OneAgent"/>
   </extension>
   <extension point="org.eclipse.core.runtime.preferences">
      <initializer class="com.oneagent.edt.OneAgentPreferenceInitializer"/>
   </extension>
</plugin>
